# Azure Blob Storage
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=contractstorage26;AccountKey=oLtUxsMwmbVL3Fmjz9Dn1eM4ZHZu0P2fry/Y1M/evyJ88UwFVzTysT6oICEx+vDFwI8ehSH323T0+ASt7PH0JQ==;EndpointSuffix=core.windows.net
BLOB_CONTAINER=contracts

# Azure OpenAI
AZURE_OPENAI_ENDPOINT=https://contract-ai-demo.openai.azure.com/
AZURE_OPENAI_KEY=5xCMnqcu1UDwGY7fLDESJAvVrrLrtzGu0byA5J0zXh1oJUb4zMGrJQQJ99CFACHYHv6XJ3w3AAABACOGUSus
AZURE_OPENAI_DEPLOYMENT=gpt-4o
